@use "/src/app/variables.scss";
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 8rem;
  margin: 0 5.9rem 0 5.9rem;
}

.logo {
  width: 43.5rem;
  height: 3rem;
}

.nav_links {
  width: 59.5rem;
  height: 1.4rem;

  ul {
    display: flex;
    gap: 3.4rem;
    color: variables.$blue-color;
    font-family: Arial;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
